.idea/
venv/
**/__pycache__/
**/*.log
**/*.tar
.vscode
**/*tmp
.vscode/launch.json
# Results and cache files
results/
results/*.json
data/results/
data/results/*.json
data/results/*.text
data/cache/
data/cache/*.json
